:root {
  --palegray: #F9F9F9;
  --darkgray: #B0B0B0;
  --green: #3B755F;
  --palegreen: #AFC6BD;
  --blue: #2E3A8C;
  --beige: #F2EBDB;
  --black: #212121;
  --white: #fff;

}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
  font-family: 'Cabin', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}